/* * {
  border: blue dashed;
} */
html {
  height: 100%;
}

body {
  min-height: 100%;
  font-size: 2vw;
  margin: 0;
  background-image: url("bodyBgEdit.jpg");
  background-size: 100vw;
  background-color: #694e4e;
  opacity: 0.9;
}

#navbar {
  background-color: #775959;
  display: flex;
  padding: 0.5vw;
  margin: 0;
}

#navbar div {
  flex: 1;
  text-align: center;
}
#footer {
  /* position: absolute; */
  background-color: #775959;
  display: flex;
  flex-direction: column;
  /* padding: 0.5vw; */
  /* bottom: 0px; */
  /* overflow: hidden; */
}

#footer div {
  flex: 1;
  /* text-align: center; */
  /* overflow: hidden; */
}

#grid {
  position: relative;
  overflow: hidden;
  display: grid;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  grid-template-columns: repeat(3, 1fr);
  /* grid-auto-rows: minmax(10vw, auto); */
  grid-auto-rows: minmax(auto, 30vh);
  grid-gap: 0.5em;
  opacity: 0.8;

  font-size: 2vw;
  z-index: 100;
}

#grid > div {
  position: relative;
  background: #755555;
  padding: 1em;
  font-size: 1.5vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

#grid > div:nth-child(even) {
  position: relative;
  background: #a37777;
}

#gridBg {
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  overflow: hidden;
  background: #694e4e;
  z-index: 50;
  opacity: 0;
  transition: 500ms opacity ease-in-out;
}
