/* * {
  border: blue dashed;
} */
html {
  height: 100%;
}

body {
  min-height: 100%;
  font-size: 2vw;
  margin: 0;
  background-color: #dfe7ec;
  background-image: url("bodyBgEdit.jpg");
  background-size: 100vw;
}

#grid {
  position: absolute;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 2fr 2fr 2fr 1fr;
  grid-template-columns: auto;
  grid-gap: 3vh;
  opacity: 0.8;

  font-size: 2vw;
  z-index: 100;
  width: 100vw;
  height: 100vh;
}

#grid > div {
  display: flex;
}

#grid > .box {
  background: #d6c9c9;
  align-items: center;
  justify-content: center;
}

#grid > .box:hover {
  background: #9a97ce;
}

#grid > .box:nth-child(even) {
  background: #e8eef2;
}
#grid > .box:nth-child(even):hover {
  background: #9a97ce;
}

#navbar {
  grid-column: 1/4;
}

#navbar div {
  text-align: center;
  flex: 1;
  line-height: 12.5vh;
}

#footer {
  grid-column: 1/4;
  display: flex;
}

#footer div {
  flex: 1;
  text-align: center;
}

#gridBg {
  position: fixed;
  left: 0;
  top: 12.5vh;
  width: 100vw;
  height: 75vh;
  /* top row is sized based on fr, all other rows are calculated together with the gap
   * 4 * 3vh gap == 12vh. First row is 1/8 of 100vh == 12.5vh. Remaining 7 fr is 100 - 12 - 12.5 = 75.5
   * bottom is 1fr or 75.5/7 == 10.786
   * the space to be filled is therefore 100vh - top row - bottom row = 100vh - 10.786vh - 12.5vh = 76.714;
   * hence the 1.7vh padding added to the 75vh height;
   */
  padding-bottom: 1.7vh;
  overflow: hidden;
  background: #7f8181;
  z-index: 50;
  opacity: 0;
  transition: 500ms opacity ease-in-out;
}

.mainColor {
  background: #d1dbe3;
}

.btn {
  cursor: pointer;
}
.btn:hover {
  background: radial-gradient(#e9eef3, #d1dbe3);
}

#content {
  position: fixed;
  left: 0;
  top: 12.5vh;
  width: 100vw;
  height: 76.7vh;
  overflow: hidden;
  background: #98fdfd00;
  z-index: 50;
  opacity: 1;
  transition: 500ms opacity ease-in-out;
}
