* {
  border: blue dashed;
}

body {
  font-size: 2vw;
  margin: 0;
}

#navlist {
  display: flex;
  padding: 0.5vw;
  margin: 0;
  padding-left: 10vw;
  padding-right: 20vw;
}

#navlist li {
  display: flex;
}

#projects {
  margin-left: auto;
  margin-right: auto;
}

#grid {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(20vh, auto);
  grid-gap: 1em;

  font-size: 2vw;
}

#grid > div {
  background: rgb(230, 230, 240);
  padding: 1em;
  font-size: 1.5vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

#grid > div:nth-child(even) {
  background: rgb(250, 250, 250);
}
